node_modules/
.yarn/
.yarnrc.yml
.pnp.cjs
.pnp.loader.mjs
.pnp/

package-lock.json
pnpm-lock.yaml

dist/
.cache/

logs/
*.log
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.json
pids/
*.pid
*.seed
*.pid.lock

.vscode/
.idea
*.iml

.eslintcache
.prettier/
.prettier-cache/

coverage/
*.lcov
.nyc_output/
jest.config.js
test-results/

.env
.env.local
.env.test
.env.production
.env.development
.env.example

*.tsbuildinfo

dump.rdb
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db

/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
